*,
*::before
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1.25rem;
    color: #CDAF8C;
}

h3 {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1rem;
    color: #5B2F2C;
}

.h3 {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1rem;
    color: #5B2F2C;
}

.leading {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1rem;
    color: black;
}

/* navigation */
#navigation {
    background-color: #352108;
    padding-block: 0.5rem;
    font-size: 1rem;
    width: 100%;
} 

.nav-link {
    padding-inline: 2.5rem;
    font-family: "Didact Gothic", sans-serif;
    color: white; 
}

.navbar li {
    list-style-type: none;
}

/* hero section */
#hero {
    position: relative;
}

.hero-text {
    position: absolute; 
    top: 50%;
    left: 35%; 
    transform: translate(-50%, -50%);
}

.hero-text h1 {
    font-family: "Didact Gothic", sans-serif;
    color: white; 
    font-weight: bold;
}

#heroimg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* info grid */
.col-md-6{
    padding: 0;
} 

.btn-primary {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1rem;
    font-weight: bold;
    color: #5B2F2C;
    background-color: white;
    border-color: #5B2F2C;
    border-radius: 0;
    --bs-btn-hover-bg: #5b2f2c; 
    --bs-btn-hover-border-color: #5b2f2c; 
}

/* contact */
#contact {
    background-color: #e8d6c1; 
}

span {
   text-decoration: underline;
   font-weight: bold;
}
 
#btn-secondary {
    background-color: #CDAF8C;
}
 
.btn-secondary {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #CDAF8C;
    border-color: #CDAF8C;
    border-radius: 0;
    --bs-btn-hover-bg: #CDAF8C; 
    --bs-btn-hover-border-color: #fff; 
}
 
.form-control {
    background-color: #e8d6c1;
    border: none;
}
 
#form {
    border-bottom: 1px solid #352108;
}

/* footer */
.footer {
    font-family: "Didact Gothic", sans-serif; 
    font-size: 1rem;
    color: #CDAF8C;
}

#year {
    text-decoration: none;
    font-weight: 500;
}

